#slider{
    background-image: url(/Property1.png);
    background-size: cover;
    opacity: 1;
    animation: animate 10s infinite;
}

@keyframes animate {
    33.33%{
        background-image: url(/Property3.png);
        background-size: cover;
    }
    66.66%{
        background-image: url(/Property2.png);
        background-size: cover;
    }
    100%{
        background-image: url(/Property1.png);
        background-size: cover;
    }
}