#btn {
    color: #FFF;

    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    padding: 2%;


    border-radius: 10px;
    border: 1px solid #FFF;

    background: linear-gradient(94deg, #7A0BC0 13.27%, #0F48F1 101.64%);

    box-shadow: 4px 4px 60px 0px rgba(0, 0, 0, 0.25);
}